* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  background: radial-gradient(farthest-corner at 50% 60%, rgb(109, 197, 255), rgb(65, 124, 253));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

svg {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

#title {
  font-weight: bolder;
  font-size: 2rem;
  margin: 1.5rem 1rem;
  text-align: center;
}

main {
  width: 100%;
  text-align: center;
  padding: 0 1rem;
}

.bar:hover {
  fill: rgb(255, 190, 10, 1);
}

#tooltip {
  font-size: 0.9rem;
}

footer {
  font-size: 0.8rem;
  text-align: center;
  margin: 1.5rem 1rem;
}